.blog {
    @include rsp(padding-top, 110px, null, null, 50px);
    background-color: $gray-light;
    &__header {
        @include rsp(margin-bottom, 65px, null, null, 50px);
    }
    &__posts {
        display: flex;
        flex-wrap: wrap;
    }
    &__post {
        position: relative;
    }
}
.post {
    @include change(width, 50%, 100%, $bp-xl);
    display: flex;
    background-color: $primary;
    &__arrow{
        border-bottom: 35px solid transparent;
        border-top: 35px solid transparent;
        border-left: 28px solid transparent;
        border-right: 28px solid $primary;
        display: block;
        position: absolute;
        top: 50%;
        left: calc(50% - 28px);
        transform: translate(-50%, -50%) rotate(0deg);
        transform-origin: 100% 50%;
        z-index: $z-middle;
    }
    &__img {
        display: block;
        background-repeat: no-repeat;
        background-size: cover;
        @include change(width, 50%, 100%, $bp-m);
        height: 100%;
    }
    &__content {
        @include change(width, 50%, 100%, $bp-m);
        @include change(position, relative, static, $bp-m);
        text-align: left;
        @include change(height, auto, 700px, $bp-m);
        &:after {
            content: '';
            display: block;
            @include change(padding-top, 100%, 0%, $bp-m);
        }
    }
    &__content-inner {
        height: 100%;
        @include rsp(padding, 70px 50px, null, 20% 100px, 10% 50px, 20px 20px);
        color: $white;
        @include change(position, absolute, relative, $bp-m);
        top: 0;
        left: 0;
    }
    &__content-pretitle {
        @include os;
        @include fz-xs;
        @include rsp(margin-bottom, 30px, 10px);
    }
    &__content-title {
        @include ssp-sb;
        @include fz-l;
        @include rsp(margin-bottom, 30px, 10px);
        letter-spacing: 0.05em;
        text-transform: uppercase;
        position: relative;
        padding-bottom: 23px;
        &:after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 44px;
            height: 4px;
            background-color: $white;
        }
    }
    &__content-text {
        @include os;
        @include fz-s;
        @include change(line-height, 30px, 1.4, $bp-xxl);
    }
    &__readmore {
        color: $white;
        @include os-sb-i;
        @include fz-m;
        display: block;
        position: absolute;
        @include rsp(bottom, 70px, null, 80px, 20px);
        @include rsp(left, 50px, null, 100px, 50px, 20px);
    }
}
//Arrows in posts
@mixin blog-reset {
    &:nth-child(odd), &:nth-child(even){
        flex-direction: row;
        & .post__arrow {
            transform: translate(-50%, -50%) rotate(0deg);
        }
    }
}
.post {
    @include blog-reset;
    &:nth-child(4n), &:nth-child(4n-1){
        flex-direction: row-reverse;
        & .post__arrow {
            transform: translate(-50%, -50%) rotate(180deg);
        }
    }
    @media screen and (max-width: $bp-xl){
        @include blog-reset;
        &:nth-child(2n) {
            flex-direction: row-reverse;
            & .post__arrow {
               transform: translate(-50%, -50%) rotate(180deg);
            }
        }
    }
    @media screen and (max-width: $bp-m){
        &:nth-child(odd), &:nth-child(even){
            flex-direction: column-reverse;
            & .post__arrow {
                transform: translate(-50%, -50%) rotate(-90deg);
            }
        }
    }
}
//Adapting post
@media screen and (max-width: $bp-for-blog){
    .post {
        &__content-inner {
            padding: 20px;
        }
        &__readmore {
            bottom: 20px;
            left: 20px;
        }
    }
}
