.case {
    background-color: $gray-light;
    color: $text;
    @include rsp(padding-top, 150px, null, null, 50px);
    @include rsp(padding-bottom, 150px, null, null, 100px, 50px);
    &__header {
        @include rsp(margin-bottom, 60px, null, null, 50px);
    }
    &__inner {
        position: relative;
        @include change(padding-top, 50px, 0px, $bp-m);
        @include change(padding-bottom, 50px, 0px, $bp-m);
    }
    &__text {
        max-width: 665px;
        min-height: 630px;
        z-index: $z-middle;
    }
    &__text-wrapper {
        background-color: $white;
        position: relative;
        top: 0;
        left: 0;
        overflow: hidden;
        width: 100%;
        z-index: $z-top;
    }
    &__text-slide {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: $z-middle;
    }
    &__img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 585px;
        @include hide($bp-m);
    }
    &__img-wrapper {
        background-color: $primary;
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 100%;
    }
    &__img-slide {
        z-index: $z-bottom;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
.cts {
    @include change(padding,  100px 60px 115px, 30px 10px 100px, $bp-m);
    &__icon-box {
        width: 90px;
        height: 90px;
        background-color: $primary;
        transform: rotate(45deg);
        transform-origin: center center;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__icon {
        transform: rotate(-45deg);
    }
    &__title {
        @include os-sb;
        @include fz-m;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.075em;
        @include rsp(padding-bottom, 30px);
        @include rsp(margin-bottom, 25px);
        @include change(margin-top, 70px, 30px, $bp-m);
        position: relative;
        &:before {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 1px;
            width: 40px;
            background-color: $text;
        }
    }
    &__text {
        @include ssp-l;
        @include fz-xs;
        line-height: 24px;
        letter-spacing: 0.075em;
        text-align: center;
        @include change(margin-bottom, 45px, 30px, $bp-m);
    }
    &__button {
        margin: 0 auto;
    }
}
#js-case-slider-txt .pagination{
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: $z-top;
}
#js-case-slider-txt .bullet{
    cursor: pointer;
    margin: 3px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color:$gray-light;
    transition: $tr-fast;
    @include hover {
        background-color: $gray-dark;
    }
}
#js-case-slider-txt .bullet.active{
    background-color:$primary;
}