.wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
    min-width: 319px;
}

.container {
    max-width: 1230px;
    padding: 0 30px;
    margin: 0 auto;
    @media screen and (max-width: $bp-m) {
        padding: 0 30px;
    }
    @media screen and (max-width: $bp-xs) {
        padding: 0 20px;
    }
}

.separator {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: $primary;
    position: relative;
    &:after,
    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 3px;
        height: 1px;
        width: 80px;
        background-color: $gray-dark;
    }
    &:after {
        left: 21px;
    }
    &:before {
        left: -95px;
    }
    &--inverted {
        &:after,
        &:before {
            background-color: $light;
        }
    }
    &--left {
        @include change(transform, translateX(0px), translateX(96px), $bp-m);
    }
}

.button {
    display: block;
    width: 225px;
    line-height: 55px;
    text-align: center;
    cursor: pointer;
    border: 1px solid $light;
    border-bottom-width: 2px;
    border-radius: 3px;
    color: $light;
    @include os-b;
    @include fz-xs;
    text-transform: uppercase;
    transition: background-color $tr-fast, border-color $tr-fast;
    @include hover {
        background-color: $primary;
        border-color: $primary;
    }
    &--primary {
        background-color: $primary;
    }
    &--secondary {
        background-color: $gray-dark;
    }
    &--small {
        width: 160px;
        line-height: 40px;
    }
    &--medium {
        width: 145px;
        line-height: 46px;
    }
    &--pricing {
        @include fz-xxs;
        @include os-sb;
    }
    &--no-border {
        border: none;
    }
}

.section-header {
    text-align: center;
    color: $text;
    &__title {
        @include fz-xl;
        @include ssp-b;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        @include change (margin-bottom, 20px, 10px, $bp-m);
    }
    &__description {
        @include fz-xs;
        @include os;
        @include change (margin-bottom, 25px, 10px, $bp-m);
        line-height: 1.25;
    }
    &__separator {
        display: inline-block;
    }
    &--inverted {
        color: $light;
    }
}

.up-btn {
    display: none;
    width: 54px;
    height: 54px;
    position: fixed;
    @include rsp(bottom, 64px, null, null, null, 20px, 10px);
    @include rsp(right, 54px, null, null, null, 20px, 10px);
    background-color: $primary;
    border-radius: 50%;
    cursor: pointer;
    z-index: $z-modal;
    box-shadow: 2px 10px 25px 1px rgba(0, 0, 0, 0.54);
    transition: transform $tr-fast;
    transform: scale(1);
    transform-origin: 50% 50%;
    @include hover() {
        transform: scale(1.1);
    }
    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 22px;
        left: 20px;
        width: 14px;
        height: 14px;
        border-left: 2px solid $white;
        border-top: 2px solid $white;
        transform: rotate(45deg);
        transform-origin: 50% 50%;
    }
}

;