.features {
    border-bottom: 2px solid $gray-dark;
    &__inner {
        @include rsp(padding-top, 125px, null, null, 50px, null, 30px);
        @include rsp(padding-bottom, 100px, null, null, 50px, null, 30px);
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 0 -25px;
    }
    &__feature {
        @include rsp(width, 25%, null, null, 50%, null, 100%);
    }
}

.feature {
    //@include change (padding-bottom, 25px, 10px, $bp-m);
    padding-bottom: 35px;
    padding-left: 25px;
    padding-right: 25px;
    color: $text;
    text-align: center;
    letter-spacing: 0.075em;
    @include hover {
        >.feature__icon-box {
            border-color: transparent;
            &:before {
                opacity: 1;
                transform: rotate(45deg);
            }
        }
        >.feature__title {
            color: $primary;
        }
    }
    &__icon-box {
        height: 73px;
        width: 73px;
        @include change(margin-bottom, 30px, 10px, $bp-m);
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid $gray-light;
        position: relative;
        transition: border-color $tr-fast;
        &:before {
            content: '';
            display: block;
            position: absolute;
            border: 2px solid $primary;
            top: -2px;
            bottom: -2px;
            left: -2px;
            right: -2px;
            opacity: 0;
            transform: rotate(0deg);
            transition: opacity $tr-fast, transform $tr-fast;
        }
    }
    &__title {
        @include os-sb;
        @include fz-m;
        transition: color $tr-fast;
        @include change(margin-bottom, 20px, 5px, $bp-m);
        @include change(padding-bottom, 20px, 10px, $bp-m);
        text-transform: uppercase;
        position: relative;
        letter-spacing: 0.075em;
        &:before {
            content: '';
            display: block;
            position: absolute;
            width: 20%;
            height: 1px;
            background-color: $text;
            top: 100%;
            left: 50%;
            transform: translate(-50%, -100%);
        }
    }
    &__text {
        @include ssp-l;
        @include fz-xxs;
        line-height: 20px;
        color: $gray-dark;
    }
}