.footer {
    color: $white;
    text-align: center;
    &__pictured {
        @include rsp(padding-top, 145px, null, null, 50px, 20px);
        @include rsp(padding-bottom, 140px, null, null, 50px, 20px);
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        @include blackout(after, .5, $blackout, $z-zero);
    }
    &__title {
        position: relative;
        z-index: $z-bottom;
        @include os;
        @include fz-xl;
        @include rsp(margin-bottom, 20px);
    }
    &__title-accent {
        @include os-b;
        @include fz-xl;
    }
    &__text {
        position: relative;
        z-index: $z-bottom;
        @include os;
        @include fz-m;
        @include rsp(margin-bottom, 70px, null, null, 20px);
    }
    &__button {
        position: relative;
        z-index: $z-bottom;
        @include cnt;
    }
    &__social {
        padding: 5px 0;
        background-color: $gray-darkest;
    }
    &__social-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include change(flex-direction, row, column, $bp-m);
    }
    &__author {
        color: $gray-dark;
        @include os-sb;
        @include fz-xs;
        @include change(padding, 37px 0, 5px 0, $bp-m);
    }
}
.social {
    padding: 0 10px;
    &__link {
        display: inline-block;
        background-color: transparent;
        margin-right: 18px;
    }
    &__icon {
        display: block;
        width: 21px;
        height: 21px;
        fill: $gray-dark;
        transition: fill $tr-fast;
        @include hover {
            fill: $primary;
        }
    }
}
