.form {
    @include rsp(padding-top, 150px, null, null, 50px);
    @include rsp(padding-bottom, 150px, null, null, 50px);
    background-color: $gray-light;
    &__header {
        @include rsp(margin-bottom, 64px);
    }
    &__inner {
        display: flex;
        @include change(flex-direction, row, column, $bp-m);
        justify-content: space-between;
    }
    &__contacts {
        background-color: $white;
        @include rsp(width, 478px, null, 40%, null, 100%);
        @include rsp(padding, 100px 100px 30px, null, null, 50px 50px 10px, 20px 20px 10px);
        box-shadow: 6px 11px 16px -8px rgba(0, 0, 0, 0.56);
        margin-bottom: 20px;
    }
    &__form {
        position: relative;
        margin-bottom: 20px;
    }
}

.contact-item {
    @include rsp(margin-bottom, 65px, null, null, null, 20px, 10px);
    &__title {
        @include rsp(margin-bottom, 20px, null, null, null, 5px);
        @include ssp-sb;
        @include fz-l;
        color: $primary;
        text-transform: uppercase;
    }
    &__data {
        display: block;
        @include os;
        @include fz-m;
        line-height: 24px;
        color: $gray-dark;
    }
}

.client-form {
    @include rsp(padding, 100px 100px 30px, null, null, 50px 50px 10px, 20px 20px 10px);
    @include rsp(width, 665px, null, 58%, null, 100%);
    background-color: $white;
    box-shadow: 6px 11px 16px -8px rgba(0, 0, 0, 0.56);
    &__item {
        width: 100%;
        margin-bottom: 20px;
    }
    &__label {
        display: flex;
        flex-direction: column-reverse;
        position: relative;
    }
    &__label-text {
        display: block;
        transition: transform $tr-fast;
        transform-origin: 0 0;
        position: relative;
        z-index: $z-bottom;
        color: $gray-dark;
        @include os-sb;
        @include fz-xs;
        transform: translate(2%, 130%);
        &--moved {
            transform: translate(0, 0);
        }
    }
    &__input {
        background-color: transparent;
        position: relative;
        z-index: $z-middle;
        display: block;
        border: 1px solid transparent;
        border-bottom: 1px solid $gray-light;
        width: 100%;
        line-height: 32px;
        height: 32px;
        transition: border-color $tr-fast;
        &--textarea {
            resize: none;
            min-height: 120px;
        }
    }
    &__button {
        margin-top: 30px;
    }
    & .invalid {
        border-radius: 5px;
        border: 1px solid $primary;
        border-bottom: 1px solid $primary;
        &:focus {
            border: 1px dashed $primary;
            border-bottom: 1px dashed $primary;
        }
    }
}



.client-form__label .error {
    @include fz-xxs;
    @include os-sb-i;
    color: $primary;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: $z-top;
}

.client-form__success {
    position: absolute;
    z-index: $z-modal;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30%;
    background-color: $gray-darkest;
    color: $gray-light;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transform-origin: 0 100%;
    transition: transform $tr-fast;
    &--active {
        transform: scale(1);
    }
}

.client-form__close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    @include hover {
        &:after,
        &:before {
            background-color: $primary;
        }
    }
    &:after,
    &:before {
        content: '';
        position: absolute;
        top: 18px;
        left: -20px;
        height: 2px;
        width: 80px;
        background-color: $white;
        transform-origin: 50% 0;
        transition: background-color $tr-fast;
    }
    &:after {
        transform: rotate(45deg);
    }
    &:before {
        transform: rotate(-45deg);
    }
}

.client-form__success-message {
    display: block;
    color: $gray-dark;
    line-height: 2;
    text-align: center;
    @include fz-xxs;
    @include os-sb-i;
    padding: 0 40px;
}