.header {
    position: relative;
    width: 100%;
    color: $light;
    background-color: $gray-darkest;
    &:after,
    &:before {
        @include hide($bp-xxl);
        content: '';
        position: absolute;
        display: block;
        border-color: transparent;
        bottom: 0;
        width: 0;
        height: 0;
        border-style: solid;
        z-index: $z-middle + 1;
    }
    &:after {
        right: 0;
        border-width: 125px 50vw 0 0;
        border-right-color: $white;
    }
    &:before {
        left: 0;
        border-width: 125px 0 0 50vw;
        border-left-color: $white;
    }
    &__inner {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__top {
        @include rsp(top, 40px, null, null, 20px, null, 15px);
        background-color: transparent;
        position: absolute;
        z-index: $z-top;
        top: 40px;
        left: 0;
        right: 0;
    }
    &__anchor-halo {
        @include hide($bp-l);
        width: 80px;
        height: 80px;
        background-color: rgba(200, 200, 200, 0.3);
        border-radius: 50%;
        z-index: $z-middle + 2;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        animation: anchorPulse 3s infinite;
        transform-origin: center center;
    }
    &__anchor {
        @include hide($bp-l);
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 60px;
        height: 60px;
        background-color: $light;
        z-index: $z-top;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 32px;
        color: $primary;
    }
    &__slide {
        position: absolute;
    }
    &__buttons {
        @include rsp(bottom, 270px, 80px, null, null, 10px);
        @include change(display, flex, block, $bp-m);
        position: absolute;
        z-index: $z-middle;
        left: 50%;
        transform: translateX(-50%);
    }
    &__button {
        @include change(margin-right, 30px, 0, $bp-m);
        @include change(margin-bottom, 0, 10px, $bp-m);
        &:last-child {
            margin-right: 0;
        }
    }
}

.anchor {
    transform: scaleX(.7);
    transform-origin: 50% 0;
    width: 31px;
    height: 31px;
}

.top {
    &__toggle {
        @include hamburger(45px, 35px, opened, $tr-fast, $white, $collapse-top-menu, 2px);
    }
    &__logo {
        //@include rsp(height, 55px, null, null, null, 44px, null, 33px);
        @include rsp(width, 145px, null, null, 116px);
        display: block;
        flex-shrink: 0;
    }
    &__logo-img {
        height: 100%;
        width: 100%;
    }
}

.menu {
    &__list {
        display: flex;
    }
    &__item {
        @include rsp(margin-right, 55px, null, 20px, 0);
        &:last-child {
            margin-right: 0;
        }
    }
    &__link {
        @include os-b;
        @include fz-xs;
        position: relative;
        display: block;
        text-transform: uppercase;
        transition: color $tr-fast;
        padding: 0 0;
        @include hover {
            color: $primary;
            &:after {
                background-color: $primary;
                bottom: -24px;
                left: 0;
                right: 0;
            }
        }
        &:after {
            content: '';
            position: absolute;
            bottom: -2px;
            left: 10px;
            right: 10px;
            height: 1px;
            background-color: transparent;
            transition: $tr-fast;
            pointer-events: none;
        }
    }
}

.hds {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    @include blackout(before, 0.7, $blackout, $z-zero);
    background-color: black;
    transition: $tr-fast;
    &--dark {
        @include blackout(before, 1, $blackout, $z-zero);
    }
    &__inner {
        @include rsp(padding-top, 325px, 170px, 150px, 120px, 100px, 70px);
        @include rsp(padding-bottom, 385px, 220px, null, 190px);
        text-align: center;
        position: relative;
        z-index: $z-middle;
    }
    &__pre-title {
        @include rsp(margin-bottom, 32px, null, null, null, 16px, null, 10px);
        @include fz-l;
        @include ssp;
        letter-spacing: 0.05em;
    }
    &__title {
        @include rsp(margin-bottom, 40px, null, null, null, 20px, null, 10px);
        @include fz-xxl;
        @include os-b;
        text-transform: uppercase;
        letter-spacing: 0.1em;
    }
    &__separator {
        @include rsp(margin-bottom, 35px, null, null, null, 20px, 10px);
        margin-left: auto;
        margin-right: auto;
    }
    &__text {
        @include rsp(margin-bottom, 30px, null, null, null, 20px, null, 10px);
        @include rsp(line-height, 24px, null, null, null, 20px, null, 16px);
        @include fz-xs;
        @include os;
        max-width: 600px;
        padding: 0 10px;
        margin: 0 auto;
        line-height: 24px;
        color: $gray-dark;
    }
}

.header__slider .prev,
.header__slider .next {
    background-color: $light;
    width: 45px;
    height: 45px;
    border-radius: 3px;
    opacity: 1;
    z-index: $z-middle;
    top: 45%;
    position: absolute;
    cursor: pointer;
    @media screen and (max-width: $bp-l) {
        background-color: transparent;
    }
    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 15px;
        transform: rotate(45deg);
        transform-origin: 50% 50%;
        border: 3px solid $text;
        width: 15px;
        height: 15px;
        @media screen and (max-width: $bp-l) {
            width: 20px;
            height: 20px;
        }
    }
    &:hover {
        background-color: $primary;
        @media screen and (max-width: $bp-l) {
            background-color: transparent;
        }
    }
}

.header__slider .prev {
    left: 35px;
    @media screen and (max-width: $bp-l) {
        left: -5px;
    }
    &:before {
        left: 19px;
        border-top-color: transparent;
        border-right-color: transparent;
    }
    &:hover:before {
        border-left-color: $light;
        border-bottom-color: $light;
    }
}

.header__slider .next {
    right: 35px;
    @media screen and (max-width: $bp-l) {
        right: -5px;
    }
    &:before {
        border-left-color: transparent;
        border-bottom-color: transparent;
        right: 19px;
    }
    &:hover:before {
        border-top-color: $light;
        border-right-color: $light;
    }
}

@keyframes anchorPulse {
    from {
        opacity: 1;
        transform: translate(-50%, -50%) scale(0.7);
    }
    to {
        opacity: 0;
        transform: translate(-50%, -50%) scale(1.4);
    }
}

//=====Menu collapse changes======
@media screen and (max-width: $collapse-top-menu) {
    .menu {
        z-index: $z-top;
        position: absolute;
        top: 120%;
        left: -30px;
        width: calc(100% + 60px);
        opacity: 0;
        transform-origin: 0 0;
        transform: translateX(100%);
        transition: opacity $tr-fast;
        &--opened {
            transform: translate(0px);
            opacity: 1;
        }
    }
    .menu__list {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        justify-content: flex-start;
        height: calc(100vh - 70px);
        text-align: center;
        border: 1px solid $gray-darkest;
    }
    .menu__item {
        min-height: 100px;
        flex-shrink: 0;
        flex-grow: 1;
        background-color: black;
        display: block;
        border-bottom: 1px solid $gray-darkest;
        &:last-child {
            min-height: 150px;
        }
    }
    .menu__link {
        line-height: 100px;
        &:after {
            display: none;
        }
    }
}