.history {
    @include rsp(padding-top, 142px, null, null, 100px, 20px);
    @include rsp(padding-bottom, 146px, null, null, 100px, 50px, 20px);
    &__inner {
        display: flex;
    }
    &__image {
        margin-right: 25px;
        width: 50%;
        height: 407px;
        flex-shrink: 1;
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: contain;
        @include hide($bp-m);
    }
    &__content {
        @include change(width, 50%, 100%, $bp-m);
        width: 50%;
    }
    &__content h3{
        color: $text;
        text-transform: uppercase;
        @include fz-xl;
        @include ssp-b;
        letter-spacing: 0.1em;
        position: relative;
        padding-left: 35px;
        @include rsp(margin-bottom, 40px, null, null, 20px);
        &:before {
            content: '';
            display: block;
            position: absolute;
            background-color: $primary;
            height: 100%;
            width: 6px;
            top: 0;
            left: 0;
        }
    }
    &__content p{
        color: $gray-dark;
        @include change(margin-bottom, 30px, 10px, $bp-m);
        @include fz-xs;
        @include ssp;
        @include change(line-height, 30px, 20px, $bp-m);
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__button {
        max-width: 255px;
        margin-right: auto;
        @include change(margin-top, 40px, 20px, $bp-m);
    }
}
