.partners {
    background-color: $gray-light;
    border-bottom: 1px solid $gray-dark;
    @include rsp(padding-top, 150px, null, null, 100px, 50px);
    @include rsp(padding-bottom, 140px, null, null, 100px, 50px);
    &__header {
        @include rsp(margin-bottom, 55px, null, null, 50px);
    }
    &__logos {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}
.partner {
    &__logo-item {
        @include rsp(width, 15%, null, 20%, 33.333%);
        box-shadow: 0px 2px 12px -1px rgba(0,0,0,0.3);
        background-color: $white;
        margin: 12px;
        min-width: 210px;
        height: 100px;
        position: relative;
        z-index: $z-zero;
        transition: box-shadow $tr-slow;
        @include hover {
            box-shadow: 0px 7px 12px -1px rgba(0,0,0,0.9);
            >.partner__logo-img-bright {
                opacity: 1;
            }
            >.partner__logo-img-dim {
                opacity: 0;
            }
        }
    }
    &__logo-img-bright {
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            opacity: 0;
            transition: opacity $tr-slow;
        }
    &__logo-img-dim {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        transition: opacity $tr-slow;
    }
}
