.pricing {
    @include rsp(padding-top, 150px, null, null, 50px);
    @include rsp(padding-bottom, 140px, null, null, 100px, 50px);
    &__header {
        @include rsp(margin-bottom, 60px, null, null, 50px);
    }
    &__inner {
        display: flex;
        @include change (overflow-x, unset, scroll, $bp-xl);
        max-width: 1170px;
        padding: 0 30px;
        position: relative;
        margin: 0 auto;
    }
    &__item {
        margin-right: 15px;
        &:last-child {
            margin-right: 0;
            &:after {
                content:'';
                display: block;
                position: absolute;
                height: 100%;
                width: 30px;
                background-color: $white;
                top: 0;
                right: -30px;
            }
        }
    }
    &__halo {
        @include rsp(height, 174px, null, null, 150px, null, 100px);
        @include rsp(width, 174px, null, null, 150px, null, 100px);
        background-color: rgba(255, 255, 255, .3);
        border-radius: 50%;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__price {
        @include rsp(height, 152px, null, null, 130px, null, 90px);
        @include rsp(width, 152px, null, null, 130px, null, 90px);
        border-radius: 50%;
        background-color: $white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: $gray-dark;
    }
    &__cost {
        @include change(font-size, 40px, 20px, $bp-s);
        @include ssp-b;
        display: block;
        font-size: 40px;
        &--primary {
            color: $primary;
        }
    }
    &__period {
        @include ssp;
        @include fz-xs;
        display: block;
    }
}

.card {
    @include change(width, 380px, 250px, $bp-xs);
    position: relative;
    background-color: $gray-light;
    flex-shrink: 0;
    text-align: center;
    &__title {
        position: relative;
        @include rsp(padding-top, 50px, null, null, 30px, 20px);
        @include rsp(padding-bottom, 130px, null, null, 100px, 90px, 70px);
        @include os-sb;
        @include fz-l;
        background-color: $gray-dark;
        color: $gray-light;
        text-transform: uppercase;
        letter-spacing: 0.075em;
        transition: background-color $tr-fast;
        &--primary {
            background-color: $primary;
        }
    }
    &__features-list {
        @include rsp(padding-top, 125px, null, null, 100px, 60px);
        @include rsp(padding-bottom, 25px, null, 0px);
    }
    &__features-item {
        @include rsp (margin-bottom, 25px);
        @include fz-xs;
        @include os-sb;
        color: $gray-dark;
    }
    &__button {
        @include cnt;
        @include change(margin-bottom, 50px, 20px, $bp-m);
    }
}