.recent {
    @include rsp(padding-top, 130px, 120px, 80px, 50px);
    &__header {
        @include rsp(margin-bottom, 65px, null, 35px);
    }
    &__categories {
        @include change(white-space, nowrap, normal, $bp-xs);
        @include change(text-align, center, left, $bp-s);
        @include change(margin-bottom, 0px, 15px, $bp-l);
        overflow: auto;
        padding-left: 30px;
    }
    &__category {
        @include change(width, auto, 48%, $bp-xs);
        @include change(margin-bottom, 50px, 20px, $bp-l);
        display: inline-block;
        flex-shrink: 0;
        &:last-child span:after {
            display: none;
        }
    }
    &__check {
        display: none;
        &:checked+span:before {
            opacity: 1;
        }
    }
    &__category-text {
        white-space: nowrap;
        //text-align: center;
        @include os;
        @include fz-xs;
        text-transform: uppercase;
        color: $gray-dark;
        cursor: pointer;
        display: block;
        position: relative;
        letter-spacing: 0.4px;
        padding-right: 10px;
        margin-right: 25px;
        transition: color $tr-fast;
        @include hover(){
            color: $primary;
        }
        &:before {
            //text-align: center;
            text-transform: uppercase;
            content: attr(data-content);
            display: block;
            position: absolute;
            background-color: $white;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            padding-right: 10px;
            @include os-b;
            color: $primary;
            opacity: 0;
            transition: opacity $tr-fast;
        }
        &:after {
            content: '';
            height: 100%;
            position: absolute;
            display: block;
            width: 2px;
            top: 0;
            right: -10px;
            background-color: $gray-dark;
            transform: rotate(30deg);
            @include hide($bp-s);
        }
    }
    &__works {
        background-color: $gray-light;
        clear: both;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    &__works-item {
        display: block;
    }
}

.work-item {
    overflow: hidden;
    position: relative;
    @include rsp(width, 25%, null, null, 33.33%, 50%, 100%);
    cursor: pointer;
    &:after {
        content: '';
        display: block;
        @include change(padding-top, 100%, 50%, $bp-s);
    }
    &__image {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    &:hover .work-item__content {
        opacity: 1;
    }
    &__content {
        color: $white;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        @include change(opacity, 0, 1, $bp-xl);
        @include change(background-color, rgba(200, 0, 0, .6), rgba(0, 0, 0, .6), $bp-xl);
        transition: opacity $tr-fast;
    }
    &__text {
        position: absolute;
        bottom: 50px;
        left: 50px;
        padding-right: 50px;
    }
    &__title {
        @include ssp-sb;
        @include fz-l;
        text-transform: uppercase;
        padding-top: 23px;
        &:after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 44px;
            height: 4px;
            background-color: $white;
        }
    }
}