/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	// font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

input::-ms-clear {
    display: none;
}

*,
*::after,
*::before {
    outline: none !important;
    box-sizing: border-box;
    min-width: 0;
    min-height: 0;
    touch-action: manipulation;
    letter-spacing: normal;
    box-sizing: border-box;
}

// html,
// body {
//     width: 100%;
//     font-size: 16px;
//     line-height: normal;
//     letter-spacing: normal;
//     font-weight: normal;
//     font-family: 'Roboto Condensed', sans-serif;
//     -webkit-overflow-scrolling: touch;
//     -webkit-tap-highlight-color: transparent;
// }
input, select, textarea, button {
    font-family: 'Roboto Condensed', sans-serif;
    -webkit-appearance: none;
    border-radius: 0;
}

textarea { 
    overflow: auto; 
}

// html {
//     -webkit-text-size-adjust: 100%;
// }

svg {
    display: block;
    max-width: 100%;
    max-height: 100%;
    // transition: fill 0.1s ease;
}
a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

h1, h2, h3 {
  font-weight: normal;
}

