.services {
    display: flex;
    &__text-content {
        @include change(width, calc(50% + 88px), 100%, $bp-l);
        color: $white;
    }
    &__img {
        width: calc(50% - 80px);
        position: relative;
        @include hide($bp-l);
        overflow: hidden;
    }
    &__img-wrapper {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: $z-bottom;
        @include blackout (after, .8, $blackout, $z-bottom);
    }
    &__img-slide {
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: $z-bottom;
    }
}

.text-content {
    background-color: $gray-darkest;
    &__header {
        background-color: $gray-darkest;
        text-align: right;
        @include rsp(padding-top, 150px, null, null, 100px, 50px, 30px);
        @include rsp(padding-right, 80px, null, null, 120px, null, 60px, 30px);
        @include rsp(padding-bottom, 75px, null, null, 50px, 30px);
        position: relative;
    }
    &__title {
        padding-right: 30px;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        position: relative;
        @include ssp-b;
        @include fz-xl;
        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            width: 6px;
            height: 100%;
            background-color: $primary;
        }
    }
    &__slider-wrapper {
        position: relative;
        overflow: hidden;
        width: calc(100% + 50px);
        background-color: transparent;
        z-index: $z-middle;
    }
    &__slide {
        background-color: transparent;
        padding-left: 60px;
        @include rsp(padding-right, 130px, null, null, 170px, null, 110px, 80px);
        @include rsp(padding-bottom, 80px, null, null, 70px, 20px);
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
    }
}

.text-item {
    text-align: right;
    @include change(margin-bottom, 55px, 25px, $bp-m);
    position: relative;
    &__title {
        color: $primary;
        text-transform: uppercase;
        @include os-sb;
        @include fz-m;
        margin-bottom: 12px;
    }
    &__text {
        max-width: 563px;
        margin-left: auto;
        color: $gray-dark;
        @include ssp;
        @include fz-xs;
        line-height: 29px;
    }
    &__icon-halo {
        @include hide($bp-s);
        @include rsp(width, 73px);
        @include rsp(height, 73px);
        position: absolute;
        background-color: rgba(200, 200, 200, .6);
        transform-origin: 0 0;
        border-radius: 50%;
        top: 50%;
        @include change(right, -150px, -140px, $bp-l);
        @include change(transform, translate(-50%, -50%) scale(1), translate(-50%, -50%) scale(.8), $bp-l);
        z-index: $z-top;
    }
    &__icon-box {
        position: absolute;
        z-index: $z-bottom;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $white;
        border-radius: 50%;
        @include rsp(width, 64px);
        @include rsp(height, 64px);
    }
    &__icon {
        width: 31px;
        position: absolute;
        z-index: $z-middle;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.text-content__slider .pagination {
    background-color: $gray-darkest;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    @include rsp(width, 162px, 30px);
    height: 100%;
    z-index: $z-middle;
    @include rsp(padding-bottom, 250px, null, null, 70px, 20px);
}

.text-content__slider .bullet {
    display: block;
    position: relative;
    cursor: pointer;
    border-radius: 0px;
    background-color: $gray-darkest;
    opacity: .3;
    height: 34px;
    @include rsp(width, 162px, 30px);
    margin: 0 auto 5px;
    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        @include change(left, 40px, 14px, $bp-xxl);
        left: 50px;
        background-color: $gray-dark;
        width: 5px;
        height: 100%;
    }
}

.text-content__slider .bullet.active {
    opacity: 1;
    &:after {
        background-color: $primary;
    }
}