.animInNextFade {
    animation: animInNextFade 1 ease-in forwards;
}

.animOutNextFade {
    animation: animOutNextFade 1 ease-in forwards;
}

.animInPrevFade {
    animation: animInPrevFade 1 ease-in forwards;
}

.animOutPrevFade {
    animation: animOutPrevFade 1 ease-in forwards;
}

//====
.animInNextVert {
    animation: animInNextVert 1 ease-in forwards;
}

.animOutNextVert {
    animation: animOutNextVert 1 ease-in forwards;
}

.animInPrevVert {
    animation: animInPrevVert 1 ease-in forwards;
}

.animOutPrevVert {
    animation: animOutPrevVert 1 ease-in forwards;
}

//========
.animInNextHor {
    animation: animInNextHor 1 ease-in forwards;
}

.animOutNextHor {
    animation: animOutNextHor 1 ease-in forwards;
}

.animInPrevHor {
    animation: animInPrevHor 1 ease-in forwards;
}

.animOutPrevHor {
    animation: animOutPrevHor 1 ease-in forwards;
}

//===
@keyframes animInNextFade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes animOutNextFade {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes animInPrevFade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes animOutPrevFade {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

//=======
@keyframes animInNextVert {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes animOutNextVert {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-100%);
    }
}

@keyframes animInPrevVert {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes animOutPrevVert {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(100%);
    }
}

//=====
@keyframes animInNextHor {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes animOutNextHor {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

@keyframes animInPrevHor {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes animOutPrevHor {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}