.stat {
    position: relative;
    @include rsp(height, 510px, 450px, null, 400px, 300px, 200px);
    overflow: hidden;
    &__bg {
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        width: 100%;
        height: 140%;
        left: 0;
        top: 0%;
    }
    &__inner {
        width: 100%;
        left: 50%;
        top: 10%;
        transform: translate(-50%, -50%);
        position: absolute;
        max-width: 1350px;
        padding: 0 30px;
        @media screen and (max-width: $bp-m) {
            padding: 0 30px;
        }
        @media screen and (max-width: $bp-xs) {
            padding: 0 20px;
        }
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @include rsp(padding-top, 155px, null, null, 100px, 50px, 20px);
        @include rsp(padding-bottom, 100px, null, null, 80px, 50px, 20px);
    }
    &__item {
        color: $light;
        text-align: center;
        width: 20%;
        &:nth-child(even) {
            @include change(padding-top, 0px, 30px, $bp-s);
            //margin-top: 30px;
        }
    }
    &__icon-box {
        @include rsp(width, 111px, null, null, 100px, 80px, 50px);
        @include rsp(height, 111px, null, null, 100px, 80px, 50px);
        @include change(border-color, $light, transparent, $bp-s);
        border: 2px solid $light;
        border-radius: 50%;
        position: relative;
        margin: 0 auto;
        @include rsp(margin-bottom, 50px, null, null, 20px, 10px);
    }
    &__icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 31px;
        height: 31px;
    }
    &__number {
        @include rsp(margin-bottom, 20px, null, null, 10px);
        @include ssp-b;
        @include rsp(font-size, 30px, null, null, null, 20px, 18px, 12px);
    }
    &__description {
        @include ssp;
        @include rsp(font-size, 18px, null, null, null, 16px, null, 12px);
    }
}