.team {
    background-color: black;
    background-image: url('../img/team.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: $z-zero;
    @include blackout(before,
    0.5,
    $blackout,
    $z-bottom);
    @include rsp(height,
    755px);
    &__inner {
        @include rsp(padding-top,
        150px,
        120px,
        null,
        100px,
        50px);
        height: 100%;
        position: relative;
        z-index: $z-middle;
        @include change(background-image,
        url('../img/shape.png'),
        none,
        $bp-xl);
        background-repeat: no-repeat;
        background-position: center bottom;
        &:after {
            content: '';
            display: none;
            position: absolute;
            bottom: 0;
            @include change(left,
            0,
            70px,
            $bp-m);
            @include rsp(height,
            350px,
            null,
            null,
            370px,
            100%);
            width: 100%;
            background-color: rgba(255, 50, 0, .1);
            @include change(border-top-color,
            $primary,
            transparent,
            $bp-m);
            @include change(border-left-color,
            transparent,
            $primary,
            $bp-m);
            border-top: 3px solid $primary;
            border-left: 3px solid transparent;
            z-index: $z-zero;
            @include show($bp-xl);
        }
    }
    &__header {
        position: relative;
        z-index: $z-top;
        @include change(margin-bottom,
        0px,
        30px,
        $bp-m);
        @media screen and (max-width: $bp-m) {
            text-align: left;
            padding-left: 70px;
        }
        //margin-bottom: 50px;
    }
    &__members {
        max-width: 1450px;
        padding: 0 30px;
        margin: 0 auto;
        position: relative;
        @include change(display,
        flex,
        block,
        $bp-m);
        display: flex;
        justify-content: space-between;
    }
    &__member {
        @include change(width,
        20%,
        100%,
        $bp-m);
        @include change (display,
        block,
        flex,
        $bp-m);
        align-items: center;
        @include rsp(padding-top,
        100px,
        130px,
        null,
        null,
        20px);
        position: relative;
        &:after {
            content: '';
            display: none;
            position: absolute;
            top: 67px;
            left: 70px;
            transform: translate(0%, -50%);
            width: 100vw;
            height: 1px;
            opacity: 0.4;
            background-color: $gray-light;
            z-index: $z-zero;
            @include show($bp-m);
        }
        &:nth-child(1) {
            @include change(margin-top,
            70px,
            0,
            $bp-xl);
        }
        &:nth-child(2) {
            @include change(margin-top,
            20px,
            0,
            $bp-xl);
        }
        &:nth-child(3) {
            @include change(margin-top,
            15px,
            0,
            $bp-xl);
        }
        &:nth-child(4) {
            @include change(margin-top,
            55px,
            0,
            $bp-xl);
        }
        &:nth-child(5) {
            @include change(margin-top,
            5px,
            0,
            $bp-xl);
        }
    }
    &__member-imgbox {
        text-align: center;
        border: 3px solid $primary;
        border-radius: 50%;
        width: 88px;
        height: 88px;
        transform: scale(.6);
        position: relative;
        z-index: $z-bottom;
        cursor: pointer;
        transition: $tr-fast;
        overflow: hidden;
        @include rsp(margin,
        0 auto,
        null,
        null,
        null,
        0 auto 0 0);
        margin: 0 auto;
        @include blackout(before,
        0,
        $primary,
        $z-bottom);
        @media screen and (max-width: $bp-xl) {
            transform: scale(1);
            box-shadow: -2px 7px 18px 7px rgba(0, 0, 0, 0.75);
            &:before {
                opacity: 0;
            }
        }
        &--opened {
            transform: scale(1);
            box-shadow: -2px 7px 18px 7px rgba(0, 0, 0, 0.75);
            z-index: $z-middle;
            &:before {
                opacity: .3;
            }
        }
    }
    &__member-img {
        width: 100%;
        height: 100%;
    }
    &__member-description {
        text-align: center;
        transition: opacity $tr-fast;
        @include change(opacity,
        0,
        1,
        $bp-xl);
        //opacity: 0;
        &--opened {
            opacity: 1;
        }
    }
    &__member-name {
        position: relative;
        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, 0%);
            width: 1px;
            height: 50px;
            background-color: $gray-light;
            opacity: .4;
            z-index: $z-zero;
            @include hide($bp-m);
        }
        color: $primary;
        @include change(padding-top,
        80px,
        0px,
        $bp-m);
        @include os-sb;
        @include fz-l;
        @include change(text-align,
        center,
        right,
        $bp-m);
        //@include change(margin-bottom, 10px, 10px, $bp-m);
        margin-bottom: 10px;
    }
    &__member-position {
        @include ssp;
        @include fz-xs;
        @include change(text-align,
        center,
        right,
        $bp-m);
        color: $white;
    }
}