@import '_reset';
@import '_fonts';
@import '_functions';
@import '_slider';
//==Colors==
$white: #fff;
$text: #6a6a6a;
$light: #f2f2f2;
$primary: #e74c3c;
$gray-light: #f4f5f9;
$gray-dark: #999999;
$blackout: black;
$gray-darkest: #202020;
//==Breakpoints==
$bp-xs: 375px;
$bp-s: 575px;
$bp-m: 767px;
$bp-l: 959px;
$bp-xl: 1279px;
$bp-xxl: 1599px;
$bp-for-blog: 1880px;
//==Special-breakpoints
$collapse-top-menu: $bp-l;
//==Z-index==
$z-zero: 0;
$z-bottom: 10;
$z-middle: 20;
$z-top: 30;
$z-modal: 40;
//==Trans ==
$tr-fast: 0.3s;
$tr-slow: 0.7s;
//==Font-family-mixins==
@mixin ssp-sb {
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-style: normal;
}

@mixin ssp-b {
    font-family: 'Source Sans Pro';
    font-weight: bold;
    font-style: normal;
}

@mixin ssp {
    font-family: 'Source Sans Pro';
    font-weight: normal;
    font-style: normal;
}

@mixin ssp-l {
    font-family: 'Source Sans Pro';
    font-weight: 300;
    font-style: normal;
}

@mixin os-b {
    font-family: 'Open Sans';
    font-weight: bold;
    font-style: normal;
}

@mixin os-sb {
    font-family: 'Open Sans';
    font-weight: 600;
    font-style: normal;
}

@mixin os-sb-i {
    font-family: 'Open Sans';
    font-weight: 600;
    font-style: italic;
}

@mixin os {
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: normal;
}

@mixin os-l {
    font-family: 'Open Sans';
    font-weight: 300;
    font-style: normal;
}

@mixin lato-i {
    font-family: 'Lato';
    font-weight: normal;
    font-style: italic;
}

@mixin lato {
    font-family: 'Lato';
    font-weight: normal;
    font-style: normal;
}

//==Font-adaptive==
@mixin fz-xxl {
    font-size: 72px;
    @media screen and (max-width: $bp-m) {
        font-size: 48px;
    }
    @media screen and (max-width: $bp-xs) {
        font-size: 36px;
    }
}

@mixin fz-xl {
    font-size: 36px;
    @media screen and (max-width: $bp-m) {
        font-size: 32px;
    }
    @media screen and (max-width: $bp-xs) {
        font-size: 24px;
    }
}

@mixin fz-l {
    font-size: 24px;
    @media screen and (max-width: $bp-m) {
        font-size: 20px;
    }
    @media screen and (max-width: $bp-xs) {
        font-size: 18px;
    }
}

@mixin fz-m {
    font-size: 18px;
    @media screen and (max-width: $bp-xs) {
        font-size: 14px;
    }
}

@mixin fz-s {
    font-size: 16px;
}

@mixin fz-xs {
    font-size: 14px;
}

@mixin fz-xxs {
    font-size: 12px;
}

//==== COMPONENTS ====
@import '_common';
@import '_header';
@import '_features';
@import '_history';
@import '_services';
@import '_recent';
@import '_case';
@import '_statistics';
@import '_pricing';
@import '_team';
@import '_partners';
@import '_blog';
@import '_form';
@import '_footer';