section.blog.lazy-section#blog
    .container
        .blog__header.section-header
            h3.section-header__title Our blog
            p.section-header__description Suspendisse sed eros mollis, tincidunt felis eget, interdum eratullam sit amet odio.
            .section-header__separator.separator
    .blog__posts        
        article.blog__post.post
            .post__arrow
            .post__img(data-bg="img/blog1.jpg")
            .post__content
                .post__content-inner
                    p.post__content-pretitle art / t-shirt
                    h4.post__content-title T-short design
                    p.post__content-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the indu Stry's standard dummy text ever since the 1500s, an unknown printer took a galley of type a scrambled it to make a type specimen book.
                    a.post__readmore Read more &raquo;
        article.blog__post.post
            .post__arrow
            .post__img(data-bg="img/blog2.jpg")
            .post__content
                .post__content-inner
                    p.post__content-pretitle art / t-shirt
                    h4.post__content-title T-short design
                    p.post__content-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the indu Stry's standard dummy text ever since the 1500s, an unknown printer took a galley of type a scrambled it to make a type specimen book.
                    a.post__readmore Read more &raquo;        
        article.blog__post.post
            .post__arrow
            .post__img(data-bg="img/blog3.jpg")
            .post__content
                .post__content-inner
                    p.post__content-pretitle art / t-shirt
                    h4.post__content-title T-short design
                    p.post__content-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the indu Stry's standard dummy text ever since the 1500s, an unknown printer took a galley of type a scrambled it to make a type specimen book.
                    a.post__readmore Read more &raquo;        
        article.blog__post.post
            .post__arrow
            .post__img(data-bg="img/blog4.jpg")
            .post__content
                .post__content-inner
                    p.post__content-pretitle art / t-shirt
                    h4.post__content-title T-short design
                    p.post__content-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the indu Stry's standard dummy text ever since the 1500s, an unknown printer took a galley of type a scrambled it to make a type specimen book.
                    a.post__readmore Read more &raquo;                
