section.case
    .container
        .case__header.section-header
            h3.section-header__title Case study
            p.section-header__description A brief story about how this process works, keep an eye till the end.
            .section-header__separator.separator
        .case__inner
            .case__text#js-case-slider-txt
                .case__text-wrapper.scene
                    .case__text-slide.cts.slide
                        .cts__icon-box
                            img.cts__icon(src="img/case_icon1.png", alt="")
                        .cts__title Accumulate creative ideas
                        .cts__text Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry. Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry Printing and typelorem Ipsum has been the setting let.
                        a.cts__button.button.button--primary.button--small.button--no-border Read more
                    .case__text-slide.cts.slide
                        .cts__icon-box
                            img.cts__icon(src="img/case_icon2.png", alt="")
                        .cts__title Making awesome design
                        .cts__text Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry. Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry Printing and typelorem Ipsum has been the setting let.
                        a.cts__button.button.button--primary.button--small.button--no-border Read more
                    .case__text-slide.cts.slide
                        .cts__icon-box
                            img.cts__icon(src="img/case_icon3.png", alt="")
                        .cts__title Creating future
                        .cts__text Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry. Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry Printing and typelorem Ipsum has been the setting let.
                        a.cts__button.button.button--primary.button--small.button--no-border Read more
            .case__img#js-case-slider-img   
                .case__img-wrapper.scene
                    .case__img-slide.cis.slide(data-bg="img/case-1.jpg")
                    .case__img-slide.cis.slide(data-bg="img/case-2.jpg")
                    .case__img-slide.cis.slide(data-bg="img/case-3.jpg")