.features#features
    .container
        .features__inner
            .features__feature.feature
                .feature__icon-box
                    img.feature__icon(src="./img/glasses.png", alt="glasses")
                p.feature__title Sleek design 
                p.feature__text Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.
            .features__feature.feature
                .feature__icon-box
                    img.feature__icon(src="./img/heart.png", alt="glasses")
                p.feature__title Clean code
                p.feature__text Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod dignissimos illo animi corporis magni at nulla quas hic corrupti aliquid, libero cupiditate nesciunt odio repellendus? Reiciendis excepturi, dolore rem quos hic perferendis minima unde voluptatum ullam libero pariatur repellat enim.
            .features__feature.feature
                .feature__icon-box
                    img.feature__icon(src="./img/lamp.png", alt="glasses")
                p.feature__title Creative ideas
                p.feature__text Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.
            .features__feature.feature
                .feature__icon-box
                    img.feature__icon(src="./img/dialog.png", alt="glasses")
                p.feature__title Free support
                p.feature__text Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.   
