footer.footer.lazy-section
    .footer__pictured(data-bg="img/footer.jpg")
        .container
            p.footer__title Let's Get Started Now. 
                span.footer__title-accent It's FREE!
            p.footer__text 30 day free trial. Free plan allows up to 2 projects. Pay if you need more. Cancel anytime. No catches.
            a.footer__button.button.button--primary.button--no-border Start free trial
    .footer__social
        .container
            .footer__social-inner
                .footer__social.social
                    a.social__link
                        svg.social__icon
                            use(xlink:href="#fb")
                    a.social__link
                        svg.social__icon
                            use(xlink:href="#twitter")
                    a.social__link
                        svg.social__icon
                            use(xlink:href="#rss")
                    a.social__link
                        svg.social__icon
                            use(xlink:href="#google-plus")
                    a.social__link
                        svg.social__icon
                            use(xlink:href="#linkedin")
                    a.social__link
                        svg.social__icon
                            use(xlink:href="#skype")
                    a.social__link
                        svg.social__icon
                            use(xlink:href="#vimeo")
                    a.social__link
                        svg.social__icon
                            use(xlink:href="#tumblr")
                p.footer__author Kazi Erfan &copy; All Rights Reserved
                