section.form#contact
    .container
        .form__header.section-header
            h3.section-header__title Keep in touch
            p.section-header__description Nullam sit amet odio eu est aliquet euismod a a urna. Proin eu urna suscipit, dictum quam nec.
            .section-header__separator.separator
        .form__inner
            .form__contacts
                .form__contacts-item.contact-item
                    h4.contact-item__title Our address
                    p.contact-item__data House #13, Streat road, Sydney 2310 Australia
                .form__contacts-item.contact-item
                    h4.contact-item__title Call us
                    a.contact-item__data(href="tel:+8801681091425") +880 168 109 1425
                    a.contact-item__data(href="tel:+0216809142") +0216809142
                .form__contacts-item.contact-item
                    h4.contact-item__title Email us
                    a.contact-item__data(href="mailto:contactus@email.com") contactus@email.com
            form.form__form.client-form.js-form
                .client-form__success
                    .client-form__close.js-formSuccess-close
                    p.client-form__success-message Ваше сообщение отправлено. 
                .client-form__item
                    label.client-form__label(for="")
                        input.client-form__input.js-input(type="text" name="name" required)
                        span.client-form__label-text Name
                .client-form__item
                    label.client-form__label(for="")
                        input.client-form__input.js-input(type="email" name="email" required)
                        span.client-form__label-text Email
                .client-form__item
                    label.client-form__label(for="")
                        input.client-form__input.js-input(type="text" name="subject" required)
                        span.client-form__label-text Subject
                .client-form__item
                    label.client-form__label(for="")
                        textarea.client-form__input.client-form__input--textarea.js-input(name="message" required)
                        span.client-form__label-text Message
                button.client-form__button.button.button--primary.button--small(type="submit").js-submit Send message