header.header#home
    .header__top.top
        .container
            .header__inner
                a.top__logo(href="#home")
                    img.top__logo-img(src="img/logo.png", alt="logo")
                nav.top__menu.menu
                    ul.menu__list
                        li.menu__item
                            a.menu__link.js-menu-link(href="#home") Home
                        li.menu__item
                            a.menu__link.js-menu-link(href="#about") About us
                        li.menu__item
                            a.menu__link.js-menu-link(href="#portfolio") Portfolio
                        li.menu__item
                            a.menu__link.js-menu-link(href="#pricing") Pricing
                        li.menu__item
                            a.menu__link.js-menu-link(href="#team") Team
                        li.menu__item
                            a.menu__link.js-menu-link(href="#blog") Blog
                        li.menu__item
                            a.menu__link.js-menu-link(href="#contact") Contact
                .top__toggle.js-topmenu-toggle
    a.header__anchor.js-anchor(href="#features")
        img.anchor(src="img/anchor.png", alt="anchor")
    .header__anchor-halo 
    .header__slider#js-header-slider
            .hds-wrapper.scene
                .header__slide.hds.slide(data-bg="img/main-slide1.jpg")
                    .container
                        .hds__inner
                            p.hds__pre-title Our Clients Are Our First Priority
                            h2.hds__title Welcome to Bino
                            .hds__separator.separator.separator--inverted
                            p.hds__text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                            p.hds__text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                .header__slide.hds.slide(data-bg="img/main-slide2.jpg")
                    .container
                        .hds__inner
                            p.hds__pre-title We love our clients
                            h2.hds__title Bino ist gut!
                            .hds__separator.separator.separator--inverted
                            p.hds__text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                .header__slide.hds.slide(data-bg="img/main-slide3.jpg")
                    .container
                        .hds__inner
                            p.hds__pre-title We kiss our clients anywhere!
                            h2.hds__title U not use Bino? So we go to you!
                            .hds__separator.separator.separator--inverted
                            p.hds__text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    .header__buttons
        a.header__button.button Get started now
        a.header__button.button Learn more