section.history.lazy-section#about
    .container
        .history__inner
            .history__image(data-bg="img/monitor.jpg")
            .history__content
                h3 Our history
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis earum corrupti, totam nam, aliquid amet pariatur deleniti veritatis hic eius, aperiam tenetur rerum odit optio quam accusantium dolorem est praesentium.
                p Lorem ipsum dolor  Eligendi vel cum vitae debitis voluptate architecto pariatur dicta nostrum. Laboriosam dolorem possimus unde assumenda repellendus ipsa exercitationem repudiandae qui aut recusandae iure deserunt, officiis accusamus? Libero, ut? Doloremque nulla iusto veniam ab officiis voluptatum maiores possimus, beatae accusantium quod dolorum!
                a.history__button.button.button--primary Browse our work