section.partners    
    .container
        .partners__header.section-header
            h3.section-header__title Great integrations with others
            p.section-header__description Suspendisse sed eros mollis, tincidunt felis eget, interdum erat. 
            p.section-header__description Nullam sit amet odio eu est aliquet euismod a a urna. Proin eu urna suscipit, dictum quam nec.
            .section-header__separator.separator
        .partners__logos
            a.partner__logo-item(href="")
                img.partner__logo-img-dim(src="img/logo-1.jpg", alt="logo")
                img.partner__logo-img-bright(src="img/c-logo-1.jpg", alt="logo")
            a.partner__logo-item(href="")
                img.partner__logo-img-dim(src="img/logo-2.jpg", alt="logo")
                img.partner__logo-img-bright(src="img/c-logo-2.jpg", alt="logo")
            a.partner__logo-item(href="")
                img.partner__logo-img-dim(src="img/logo-3.jpg", alt="logo")
                img.partner__logo-img-bright(src="img/c-logo-3.jpg", alt="logo")
            a.partner__logo-item(href="")
                img.partner__logo-img-dim(src="img/logo-4.jpg", alt="logo")
                img.partner__logo-img-bright(src="img/c-logo-4.jpg", alt="logo")
            a.partner__logo-item(href="")
                img.partner__logo-img-dim(src="img/logo-5.jpg", alt="logo")
                img.partner__logo-img-bright(src="img/c-logo-5.jpg", alt="logo")
            a.partner__logo-item(href="")
                img.partner__logo-img-dim(src="img/logo-6.jpg", alt="logo")
                img.partner__logo-img-bright(src="img/c-logo-6.jpg", alt="logo")
            a.partner__logo-item(href="")
                img.partner__logo-img-dim(src="img/logo-7.jpg", alt="logo")
                img.partner__logo-img-bright(src="img/c-logo-7.jpg", alt="logo")
            a.partner__logo-item(href="")
                img.partner__logo-img-dim(src="img/logo-8.jpg", alt="logo")
                img.partner__logo-img-bright(src="img/c-logo-8.jpg", alt="logo")
            a.partner__logo-item(href="")
                img.partner__logo-img-dim(src="img/logo-9.jpg", alt="logo")
                img.partner__logo-img-bright(src="img/c-logo-9.jpg", alt="logo")
            a.partner__logo-item(href="")
                img.partner__logo-img-dim(src="img/logo-10.jpg", alt="logo")
                img.partner__logo-img-bright(src="img/c-logo-10.jpg", alt="logo")
