.loader
  .l_main
    .l_square
      span
      span
      span
    .l_square
      span
      span
      span
    .l_square
      span
      span
      span
    .l_square
      span
      span
      span
