section.pricing#pricing
    .container
        .pricing__header.section-header
            h3.section-header__title Our pricing
            p.section-header__description A 30 days free trial for all. A brief story about how this process works, keep an eye till the end.
            .section-header__separator.separator
    .pricing__inner
        .pricing__item.card.js-card
            h4.card__title Starter
                .pricing__halo
                    .pricing__price
                        span.pricing__cost &#36;19
                        span.pricing__period per month
            ul.card__features-list
                li.card__features-item Competition Analysis Methods
                li.card__features-item All Ranked URLs
                li.card__features-item International Support System
                li.card__features-item Social Media Tracking
            a.card__button.button.button--pricing.button--secondary.button--medium Choose plan
        .pricing__item.card.js-card
            h4.card__title Premium
                .pricing__halo
                    .pricing__price
                        span.pricing__cost &#36;39
                        span.pricing__period per month   
            ul.card__features-list
                li.card__features-item Competition Analysis Methods
                li.card__features-item All Ranked URLs
                li.card__features-item International Support System
                li.card__features-item Social Media Tracking
            a.card__button.button.button--pricing.button--secondary.button--medium Choose plan
        .pricing__item.card.js-card
            h4.card__title Business
                .pricing__halo
                    .pricing__price
                        span.pricing__cost &#36;99
                        span.pricing__period per month      
            ul.card__features-list
                li.card__features-item Competition Analysis Methods
                li.card__features-item All Ranked URLs
                li.card__features-item International Support System
                li.card__features-item Social Media Tracking
            a.card__button.button.button--pricing.button--secondary.button--medium Choose plan
