section.recent.lazy-section#portfolio        
    .container    
        .recent__header.section-header
            h3.section-header__title Recent works
            p.section-header__description It has survived not only five centuries, but also the leap scrambled it to make a type.
            .section-header__separator.separator
    form.recent__categories
        label.recent__category
            input.recent__check(type="radio" name="category" checked)
            span.recent__category-text(data-content="All") All
        label.recent__category
            input.recent__check(type="radio" name="category")
            span.recent__category-text(data-content="Print design") Print design
        label.recent__category
            input.recent__check(type="radio" name="category")
            span.recent__category-text(data-content="Animation") Animation
        label.recent__category
            input.recent__check(type="radio" name="category")
            span.recent__category-text(data-content="Art") Art
        label.recent__category
            input.recent__check(type="radio" name="category")
            span.recent__category-text(data-content="Web design") Web design
        label.recent__category
            input.recent__check(type="radio" name="category")
            span.recent__category-text(data-content="Photogtaphy") Photography
        label.recent__category
            input.recent__check(type="radio" name="category")
            span.recent__category-text(data-content="Video") Video
    .recent__works
        a.recent__works-item.work-item(href="#")
            img.work-item__image(data-src="img/work1.jpg", alt="")
            .work-item__content
                .work-item__text
                    h4.work-item__title T-shirt design
                    p.work-item__description art / t-shirt
        a.recent__works-item.work-item(href="#")
            img.work-item__image(data-src="img/work2.jpg", alt="")
            .work-item__content
                .work-item__text
                    h4.work-item__title T-shirt design
                    p.work-item__description art / t-shirt       
        a.recent__works-item.work-item(href="#")
            img.work-item__image(data-src="img/work3.jpg", alt="")
            .work-item__content
                .work-item__text
                    h4.work-item__title T-shirt design
                    p.work-item__description art / t-shirt
        a.recent__works-item.work-item(href="#")
            img.work-item__image(data-src="img/work4.jpg", alt="")
            .work-item__content
                .work-item__text
                    h4.work-item__title T-shirt design
                    p.work-item__description art / t-shirt
        a.recent__works-item.work-item(href="#")
            img.work-item__image(data-src="img/work5.jpg", alt="")
            .work-item__content
                .work-item__text
                    h4.work-item__title T-shirt design
                    p.work-item__description art / t-shirt
        a.recent__works-item.work-item(href="#")
            img.work-item__image(data-src="img/work6.jpg", alt="")
            .work-item__content
                .work-item__text
                    h4.work-item__title T-shirt design
                    p.work-item__description art / t-shirt
        a.recent__works-item.work-item(href="#")
            img.work-item__image(data-src="img/work7.jpg", alt="")
            .work-item__content
                .work-item__text
                    h4.work-item__title T-shirt design
                    p.work-item__description art / t-shirt
        a.recent__works-item.work-item(href="#")
            img.work-item__image(data-src="img/work8.jpg", alt="")
            .work-item__content
                .work-item__text
                    h4.work-item__title T-shirt design
                    p.work-item__description art / t-shirt