section.services
    .services__text-content.text-content
        .text-content__header
            h3.text-content__title Our services
        .text-content__slider#js-srv-slider-txt
            .text-content__slider-wrapper.scene
                .text-content__slide.slide
                    .slide__text-item.text-item
                        h4.text-item__title Web design
                        p.text-item__text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ip sum has been the industry's standard dummy text ever.
                        .text-item__icon-halo 
                            .text-item__icon-box
                                img.text-item__icon(src="img/srv-1.png", alt="")
                    .slide__text-item.text-item
                        h4.text-item__title Print design
                        p.text-item__text Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                        p.text-item__text Lorem Ip sum has been the industry's standard dummy text ever.
                        .text-item__icon-halo
                            .text-item__icon-box
                                img.text-item__icon(src="img/srv-2.png", alt="")    
                    .slide__text-item.text-item
                        h4.text-item__title Photography
                        p.text-item__text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ip sum has been the industry's standard dummy text ever.
                        .text-item__icon-halo
                            .text-item__icon-box
                                img.text-item__icon(src="img/srv-3.png", alt="")
                .text-content__slide.slide
                    .slide__text-item.text-item
                        h4.text-item__title Web design
                        p.text-item__text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ip sum has been the industry's standard dummy text ever.
                        .text-item__icon-halo 
                            .text-item__icon-box
                                img.text-item__icon(src="img/srv-2.png", alt="")
                    .slide__text-item.text-item
                        h4.text-item__title Print design
                        p.text-item__text Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                        p.text-item__text Lorem Ip sum has been the industry's standard dummy text ever.
                        .text-item__icon-halo
                            .text-item__icon-box
                                img.text-item__icon(src="img/srv-3.png", alt="")           
                    .slide__text-item.text-item
                        h4.text-item__title Photography
                        p.text-item__text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ip sum has been the industry's standard dummy text ever.
                        .text-item__icon-halo
                            .text-item__icon-box
                                img.text-item__icon(src="img/srv-1.png", alt="")                       
                .text-content__slide.slide
                    .slide__text-item.text-item
                        h4.text-item__title Web design
                        p.text-item__text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ip sum has been the industry's standard dummy text ever.
                        .text-item__icon-halo 
                            .text-item__icon-box
                                img.text-item__icon(src="img/srv-3.png", alt="")
                    .slide__text-item.text-item
                        h4.text-item__title Print design
                        p.text-item__text Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                        p.text-item__text Lorem Ip sum has been the industry's standard dummy text ever.
                        .text-item__icon-halo
                            .text-item__icon-box
                                img.text-item__icon(src="img/srv-1.png", alt="")           
                    .slide__text-item.text-item
                        h4.text-item__title Photography
                        p.text-item__text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ip sum has been the industry's standard dummy text ever.
                        .text-item__icon-halo
                            .text-item__icon-box
                                img.text-item__icon(src="img/srv-2.png", alt="")
    .services__img#js-srv-slider-img
        .services__img-wrapper.scene
            .services__img-slide.slide(data-bg="img/srv-slide1.jpg")
            .services__img-slide.slide(data-bg="img/srv-slide2.jpg")
            .services__img-slide.slide(data-bg="img/srv-slide3.jpg")
