.stat
    .stat__bg(style="background-image: url('img/people.jpg')")
    .stat__inner
        .stat__item
            .stat__icon-box
                img.stat__icon(src="img/st-heart.png", alt="icon")
            p.stat__number.js-progress(data-from="11") 3891
            p.stat__description User Favourites
        .stat__item
            .stat__icon-box
                img.stat__icon(src="img/st-pencil.png", alt="icon")
            p.stat__number
                span.js-progress(data-from="12" data-postfix="K") 281 
            p.stat__description Posts Last 24 Hours
        .stat__item
            .stat__icon-box
                img.stat__icon(src="img/st-like.png", alt="icon")
            p.stat__number.js-progress(data-from="15") 618
            p.stat__description Total Posts
        .stat__item
            .stat__icon-box
                img.stat__icon(src="img/st-star.png", alt="icon")
            p.stat__number.js-progress(data-from="18") 178
            p.stat__description Campaigns
        .stat__item
            .stat__icon-box
                img.stat__icon(src="img/st-flag.png", alt="icon")
            p.stat__number.js-progress(data-from="19") 285
            p.stat__description Amazing Features