section.team#team
    .team__inner
        .container
            .team__header.section-header.section-header--inverted
                h3.section-header__title Our team
                p.section-header__description Meet the craziest team. Share your thoughts with them.
                .section-header__separator.separator.separator--left
        .team__members
            .team__member
                .team__member-imgbox.js-show-member
                    img.team__member-img(src="img/face1.jpg", alt="member")
                .team__member-description
                    p.team__member-name Jane Node
                    p.team__member-position Pizza-maker
            .team__member
                .team__member-imgbox.js-show-member
                    img.team__member-img(src="img/face2.jpg", alt="member")
                .team__member-description
                    p.team__member-name John Framework
                    p.team__member-position Killer
            .team__member
                .team__member-imgbox.js-show-member
                    img.team__member-img(src="img/face3.jpg", alt="member")
                .team__member-description
                    p.team__member-name George Sass
                    p.team__member-position Prisoner
            .team__member
                .team__member-imgbox.js-show-member
                    img.team__member-img(src="img/face4.jpg", alt="member")
                .team__member-description
                    p.team__member-name Cristian Denver
                    p.team__member-position Weapon merchant
            .team__member
                .team__member-imgbox.js-show-member
                    img.team__member-img(src="img/face5.jpg", alt="member")
                .team__member-description
                    p.team__member-name Julia Gulp
                    p.team__member-position Drug lord
